/* This is to align sub/superscripts on the same element */
.subsup {
    position: relative;
    left: 0
}

.subsup sup {
    position: absolute;
    left: 0;
    top: .4em;
}

/* Color scheme */
.bg-light {
    background-color: #f7f6f3 !important;
}
.jumbotron {
    background-color: #f7f6f3 !important;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0em;
}
.footer .text-muted {
    color: #AAAAAA !important;
}
.footer a {
    color: #9595f0;
}

/* custom symbols */
.interval {
    height:1.3em;
    vertical-align: text-bottom;
    padding-top: -0.1em;
    padding-bottom: -0.1em;
}

.detailsLink {
    position: absolute;
    top: 1em;
    right: 1.5em;
    pointer-events: none;
    color:#AAAAAA;
}
.detailsLink span {
    text-decoration: underline;
}

/* chart elements */
#rankingChart {
    pointer-events: none;
}
.bar {
    opacity: 0.2;
}
.barBubble {
    fill: white;
    stroke-width: 1.5px;
}
.barLabel {
    text-anchor: middle;
    font-weight: bolder;
    font-size: smaller;
}
.horizontalGrid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #AAAAAA;
    opacity: 0.15;
    stroke-width: 1px;
}
.gridlineDark {
    opacity: 1;
}