/* Global settings */
html {
    background: #f7f6f3;
}


/* This is to align sub/superscripts on the same element */
.subsup {
    position: relative;
    left: 0
}

.subsup sup {
    position: absolute;
    left: 0;
    top: .4em;
}

/* Color scheme */
.bg-light {
    background-color: #f7f6f3 !important;
}
.jumbotron {
    background-color: #f7f6f3 !important;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0em;
}
.footer .text-muted {
    color: #AAAAAA !important;
}
.footer a {
    color: #9595f0;
}

/* Styling of the button group above the ranking chart */
.btn-light {
    border-color: lightgray;
}
.active {
    box-shadow: inset 1px 1px 7px #AAAAAA;
}
.focus {
    box-shadow: inset 1px 1px 7px #AAAAAA !important;
}

/* custom symbols */
.interval {
    height:1.3em;
    vertical-align: text-bottom;
    padding-top: -0.1em;
    padding-bottom: -0.1em;
}

.detailsLink {
    position: absolute;
    top: 1em;
    right: 1.5em;
    pointer-events: none;
    color:#AAAAAA;
}
.detailsLink span {
    text-decoration: underline;
}

/* chart elements */
#rankingChart {
    pointer-events: none;
}
.bar {
    opacity: 0.2;
}
.barBubble {
    fill: white;
    stroke-width: 1.5px;
}
.barLabel {
    text-anchor: middle;
    font-weight: bolder;
    font-size: smaller;
}
.horizontalGrid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #AAAAAA;
    opacity: 0.15;
    stroke-width: 1px;
}
.gridlineDark {
    opacity: 1;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}