/* This is to align sub/superscripts on the same element */
.subsup {
    position: relative;
    left: 0
}

.subsup sup {
    position: absolute;
    left: 0;
    top: .4em;
}

/* Color scheme */
.bg-light {
    background-color: #f7f6f3 !important;
}
.jumbotron {
    background-color: #f7f6f3 !important;
}
.footer .text-muted {
    color: #AAAAAA !important;
}
.footer a {
    color: #9595f0;
}

/* custom symbols */
.interval {
    height:1.3em;
    vertical-align: text-bottom;
    padding-top: -0.1em;
    padding-bottom: -0.1em;
}